<form action="/form/save" method="POST">
    Nome: <input type="text" id="name" name="name" />

    Idade: <input type="number" id="age" name="age" />

    Endereço: <input type="text" id="adress" name="adress" />

    Complemento: <input type="text" id="complement" name="complement" />

    Quais são os sintomas: <input type="text" id="symptom" name="symptom" />

    Qual a gravidade: <input type="text" id="gravity" name="gravity" />

    <button type="submit">Registrar pessoa</button>

</form>