<form action="/form/save" method="POST">
    
    Nome: <input type="text" id="name" name="name" />

    Idade: <input type="number" id="age" name="age" />

    Endereço: <input type="text" id="adress" name="adress" />

    Complemento: <input type="text" id="complement" name="complement" />

    Quais são os sintomas: 
    <select name="symptom">
        <option th:each="symptom : ${symptomList}" th:value="${symptom.id}" th:text="${symptom.name}"></option>
    </select>
    <!-- <label>
        <input type="checkbox" name="symptom" th:each="symptom : ${symptomList}" th:value="${symptom.id}" th:text="${symptom.name}" th:field="*{symptomList}"/>
    </label> -->

    Qual a gravidade: <input type="text" id="gravity" name="gravity" />

    Status: 
    <select name="status">
        <option th:each="status : ${statusList}" th:value="${status.id}" th:text="${status.name}"></option>
    </select>

    <button type="submit">Registrar pessoa</button>

</form>