
<form action="/form/save" method="POST">
    Nome: <input type="texto" id="nome" name="nome" />

    Idade: <input type="number" id="idade" name="idade"/>

    Endereço: <input type="text" id="endereco" name="endereco"/>

    Complemento: <input type="text" id="complemento" name="complemento"/>

    Possui sintoma? <select name="possuiSintoma">
        <option>true</option>
        <option>false</option>
    </select>

    Quais sintosmas: <input type="text" id="sintoma" name="sintoma" />

    Qual a gravidade: <input type="text" id="gravidade" name="gravidade"/>

    <button type="submit">Registrar pessoa</button>

</form>